@model Jerry.Models.Cliente

@{
    ViewBag.Title = "Borrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav>
    <a href="@Url.Action("Index")">
        <i class="glyphicon glyphicon-arrow-left"></i> Regresar a lista de Clientes
    </a>
</nav>

<h2>Borrar</h2>

<h3>¿Seguro que deseas eliminar al cliente?</h3>
@Html.Partial("Partial_ClienteDetailsSummary")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Borrar" class="btn btn-danger" />
    </div>
}