@using Jerry.Models
@model Jerry.Models.Cliente

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Reservacion newRes = new Reservacion();
    newRes.clienteID = Model.clienteID;
}

<p>
    <a href="@Url.Action("Index")">
        <i class="glyphicon glyphicon-arrow-left"></i><span>Regresar a Lista de Clientes</span>
    </a>
</p>

@Html.Partial("../Clientes/Partial_ClienteDetailsSummary", Model)

<p>
    <a href="@Url.Action("Create","Reservacion", new {id = Model.clienteID })">
        <i class="fa fa-plus"></i><span>Registrar nueva reservación</span>
    </a>
</p>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Historial de Reservaciones</h3>
    </div>
    <div class="panel-body">
        @Html.Partial("../Reservacion/Partial_Reservaciones", Model.reservaciones)
    </div>
</div>
