@{ 
    bool showHiddenPrints = ViewData["showHiddenPrints"] != null ? (bool)ViewData["showHiddenPrints"] : false;
    int c = 0;
}
<div id="panelReportInfo" class="@(!showHiddenPrints?"visible-print":"") row">
    <div class="col-xs-2">
        <p id="linkLogo" class="printLogo">
            Jerry's Control System
        </p>
    </div>
    <div class="col-xs-10">
        <span>Salón de Eventos Quintaventura</span><br />
        <span>Esquina Francisco Gonzáles Bocanegra y Silvestres Revueltas, Col. Centro, CP. 83550</span><br />
        <span>Puerto Peñasco, Sonora, México.</span>
    </div>
</div>