@model Jerry.Models.Banquete

<div class="col-xs-12 col-md-12 form-group">
    @Html.LabelFor(model => model.lugar)
    <p class="form-control-static">@Html.DisplayFor(model => model.lugar)</p>
</div>
