@model Jerry.Models.Reservacion

@{
    ViewBag.Title = "Borrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a href="@Url.Action("Index","Reservaciones")">
        <i class="fa fa-arrow-left"></i><span>Volver a la lista de reservaciones</span>
    </a>
</p>

<h3>¿Confirma que desea elimiar esta reservación?</h3>

@Html.Partial("Partial_DetailsReservacion")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Borrar" class="btn btn-danger" />
    </div>
}
