@model Jerry.Models.Reservacion

<div class="col-xs-3 form-group">
    @Html.LabelFor(model => model.costoPorReservacion)
    <p class="form-control-static">@Html.DisplayFor(model => model.costoPorReservacion)</p>
</div>
<div class="col-xs-3 form-group">
    @Html.LabelFor(model => model.totalPorServicios)
    <p class="form-control-static">@Html.DisplayFor(model => model.totalPorServicios)</p>
</div>