#confirmBox
{
    display: none;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #aaa;
    position: fixed;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
}

#confirmBox button {
    background-color: #ccc;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 2px;
    text-align: center;
    width: 80px;
    cursor: pointer;
}

#confirmBox button:hover
{
    background-color: #ddd;
}

#confirmBox .message
{
    text-align: left;
    margin-bottom: 8px;
}

#registerLink{
    color:#C90000 !important;
    font-size:150%;
}

#loginLink{
    color:#C90000 !important;
    text-align:center;
    font-size:150%;
}

ul#logoutForm li a{
    color:white;
}
ul.nav li a span {
    font-size: 1.5em;
}

ul#logoutForm li a:hover{
    font-weight: bold;
}

.container.body-content {
    min-height: 760px;
}

a[data-toggle="modal"]{
    cursor: pointer
}

footer{
    border-top: 1px solid red;
}

footer p{
    font-size: 1em;
}


.field-validation-error{
    color: red;
}
/*Dropdown Button */
.dropdown_actions>button {
    height: 2em;
}
.dropbtn{
    transition: background-color .3s;
}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #5fbbff;
}

/* The container <div> - needed to position the dropdown content */
.dropdown_actions {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.btnRemover{
    transition: color .3s;
}

.btnRemover:hover {
    color: red;
}

#linkLogo{
    font-size: 1.5em;
    padding: 0;
}
a#linkLogo{
    font-size: 1em;
}

.panel-body .table:not(.datatable){
    border: 1px solid black;
    box-shadow: 5px 5px grey
}

.panel-body .table:not(.datatable) th{
    background-color: #8fcbff;
    color: black;
}

.rowPagado, .rowPagado td{
    background: #bdffaa
}

.rowCotizacion, .rowCotizacion td{
    background: #a1a1a1 !important
}

@media print {

    body, html, #page-wrapper {
        margin:0; padding: 0
    }
    body{
        padding: .5in;
    }
    #panelReportInfo{
        margin-bottom: .5em;
        font-size: 1em;
        margin-bottom: 1em;
    }
    #linkLogo{
        font-size: 1.5em;
    }
}